<section class="section benito-olatz">
  <div class="benito-olatz__box benito-olatz__box--benito">
    <div class="benito-olatz__box--grid">
      <h2 class="benito-olatz__title">Benito Lertxundi</h2>
      <div class="benito-olatz__rs">
        <a href="" target="_blank" class="benito-olatz__rs--website">
          {% include svg/website.svg %}
          <span class="benito-olatz__rs-span">Website</span>
        </a>
        <a href="" target="_blank" class="benito-olatz__rs--facebook">
          {% include svg/facebook.svg %}
          <span class="benito-olatz__rs-span">Facebook</span>
        </a>
      </div>
    </div>
  </div>
  <div class="benito-olatz__box benito-olatz__box--olatz">
    <div class="benito-olatz__box--grid">
      <h2 class="benito-olatz__title">Olatz Zugasti</h2>
      <div class="benito-olatz__rs">
        <a href="" target="_blank" class="benito-olatz__rs--website">
          {% include svg/website.svg %}
          <span class="benito-olatz__rs-span">Facebook</span>
        </a>
        <a href="" target="_blank" class="benito-olatz__rs--facebook">
          {% include svg/facebook.svg %}
          <span class="benito-olatz__rs-span">Facebook</span>
        </a>
      </div>
    </div>
  </div>
</section>