<section class="section contact">
  <div class="contact__box contact__box--sara">
    <h1 class="contact__title">Sara Zozaya</h1>
    <h2 class="contact__mail">sara@gmail.com</h2>
    <h2 class="contact__tlf">666 666 666</h2>
    <div class="contact__description">
      Sara, proyect manager de tu puta madre en bolas. Jódete y baila, pringau.
    </div>
  </div>
  <div class="contact__box contact__box--gratxi">
    <h1 class="contact__title">Gratxina Lertxundi</h1>
    <h2 class="contact__mail">gratxi@gmail.com</h2>
    <h2 class="contact__tlf">666 666 666</h2>
    <div class="contact__description">
      Gratxi, proyect manager de tu puta madre en bolas. Jódete y baila, pringau.
    </div>
  </div>
</section>