<section class="section show-events">
  {% for event in site.data.eventos %}
  <div class="show-events__event">
    <div class="show-events__box">
      <img class="show-events__img" src="{{ event.img }}" alt=""/>
      <div class="show-events__grid">
        <div class="show-events__info">
          <div class="show-events__date">
            <div class="show-events__week-day">{{ event.dia-semana }}</div>
            <div class="show-events__day">{{ event.dia }}</div>
            <div class="show-events__month">{{ event.mes }}</div>
          </div>
          <div class="show-events__time-price">
            <div class="show-events__time">{{ event.hora }}</div>
            <div class="show-events__price">{{ event.precio }}</div>
          </div>
        </div>
      </div>
    </div>
    <h2 class="show-events__title">{{ event.title }}</h2>
  </div>
  {% endfor %}
</section>