<section class="section show-events">
  <div class="show-events__event">
    <div class="show-events__box">
      <div class="show-events__grid">
        <div class="show-events__info">
          <div class="show-events__date">
            <div class="show-events__week-day">Jueves</div>
            <div class="show-events__day">15</div>
            <div class="show-events__month">MAY</div>
          </div>
          <div class="show-events__time-price">
            <div class="show-events__time">20:00</div>
            <div class="show-events__price">15€</div>
          </div>
        </div>
      </div>
    </div>
    <h2 class="show-events__title">Concierto de Benito Lertxundi</h2>
  </div>
  <div class="show-events__event">
    <div class="show-events__box">
      <div class="show-events__grid">
        <div class="show-events__info">
          <div class="show-events__date">
            <div class="show-events__week-day">Jueves</div>
            <div class="show-events__day">15</div>
            <div class="show-events__month">MAY</div>
          </div>
          <div class="show-events__time-price">
            <div class="show-events__time">20:00</div>
            <div class="show-events__price">5€</div>
          </div>
        </div>
      </div>
    </div>
    <h2 class="show-events__title">Concierto de Benito Lertxundi</h2>
  </div>
  <div class="show-events__event">
    <div class="show-events__box">
      <div class="show-events__grid">
        <div class="show-events__info">
          <div class="show-events__date">
            <div class="show-events__week-day">Jueves</div>
            <div class="show-events__day">15</div>
            <div class="show-events__month">MAY</div>
          </div>
          <div class="show-events__time-price">
            <div class="show-events__time">20:00</div>
            <div class="show-events__price">5€</div>
          </div>
        </div>
      </div>
    </div>
    <h2 class="show-events__title">Concierto de Benito Lertxundi</h2>
  </div>
</section>